body {
    background-color: rgb(53, 41, 65);

}
h2 {
    background-color: rgb(98, 200, 96);
    
}
h1 {
 color: rgb(98, 200, 96);
}

h3 {
 color: rgb(98, 200, 96);
}
p1 {
    color: rgb(255, 255, 255);
}